.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 300px;
}

.relatedproducts h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.relatedproducts-item img {
    width: 100%;
    height: 500px;
}

@media(max-width:1280px) {
    .relatedproducts {
        margin-bottom: 200px;
    }
    .relatedproducts h1 {
        font-size: 40px;
    }
    .relatedproducts hr {
        width: 200px;
        height: 8px;
        border-radius: 10px;
        background: #252525;
    }
    .relatedproducts-item {
        gap: 20px;
        margin-top: 30px;
    }
    .relatedproducts-item img {
        width: 220px;
        height: 320px;
    }
}

@media(max-width:1024px) {
    .relatedproducts {
        margin-bottom: 150px;
    }
    .relatedproducts h1 {
        font-size: 30px;
    }
    .relatedproducts hr {
        width: 150px;
        height: 5px;
    }
    .relatedproducts-item {
        gap: 15px;
        margin-top: 20px;
    }
    .relatedproducts-item img {
        width: 170px;
        height: 240px;
    }
}

@media(max-width:800px) {
    .relatedproducts {  
        width: 100%;
        gap: 6px;
        margin-bottom: 100px;
    }
    .relatedproducts h1 {
        font-size: 25px;
    }
    .relatedproducts hr {
        width: 120px;
        height: 3px;
    }
    .relatedproducts-item {
        gap: 5px;
    }
    .relatedproducts-item img {
        width: 120px;
        height: 170px;
    }
}

@media(max-width:500px) {
    .relatedproducts {
        height: 90vh;
        margin-bottom: 50px;
    }
    .relatedproducts h1 {
        font-size: 20px;
    }
    .relatedproducts hr {
        width: 100px;
        height: 1px;
    }
    .relatedproducts-item {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .relatedproducts-item img {
        width: 160px;
        height: 220px;
    }
}